<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="content/css/grr.css" type="text/css" rel="stylesheet"/>
    <script src="content/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="content/js/ZeroClipboard.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $().ready(function()
      {
        ZeroClipboard.setDefaults( { moviePath: 'content/ZeroClipboard.swf' } );

        var clip = new ZeroClipboard($('.token-link'));
        clip.on('complete', function (client, args) 
        {
          alert("Token URL has been copied to clipboard");
        });
      });
    </script>
    <title><?= l("Manage Accounts") ?></title>
  </head>
  <body>
    <div id="header">
      <h1>grr <span class="grr">&gt;:(</span></h1>
    </div>
    <div id="content" class="login">
<?
    if ($this->message)
    {
?>
      <div class="message"><?= h($this->message) ?></div>
<?
    }
    else if ($this->errorMessage)
    {
?>
      <div class="error"><?= h($this->errorMessage) ?></div>
<?
    }

?>
      <span class="directions">Accounts:</span>
      <table>
        <tr>
          <th><?= l("Username") ?></th>
          <th><?= l("Email Address") ?></th>
          <th><?= l("Role") ?></th>
        </tr>
<?
    if ($this->users !== false)
    {
      foreach ($this->users as $user)
      {
?>
        <tr>
          <td><?= h($user["username"]) ?></td>
          <td><?= h($user["emailAddress"]) ?></td>
          <td><?= h($user["roleName"]) ?></td>
        </tr>
<?
      }
    }
?>
      </table>
      <span class="directions"><?= l("Welcome Tokens:") ?></span>
      <table>
        <tr>
          <th><?= l("Description") ?></th>
          <th><?= l("Token") ?></th>
          <th><?= l("Created By") ?></th>
          <th><?= l("Date Created") ?></th>
        </tr>
<?
    if ($this->tokens !== false)
    {
      foreach ($this->tokens as $token)
      {
        // FIXME: the date format should be localized
?>
        <tr>
          <td><?= h($token->description) ?></td>
          <td><a class="token-link" 
                 data-clipboard-text="<?= $this->url("login", array("createToken" => $token->hash)) ?>"
                 href="<?= $this->url("login", array("createToken" => $token->hash)) ?>">http://.../?c=login&amp;createToken=<?= $token->hash ?></a></td>
          <td><?= h($token->createdByUsername) ?></td>
          <td><?= h(date("F j, Y, g:i a", $token->createdOnStamp)) ?></td>
        </tr>
<?
      }
    }
?>
      </table>
      <span class="directions"><?= l("Create new token with description:") ?></span>
      <form action="<?= $this->url("admin") ?>" method="post">
        <input type="hidden" name="newToken" value="true" />
        <input type="text" name="description" value="<?= h($this->description) ?>" />
        <input type="submit" value="Create" />
      </form>
    </div>
    <div id="footer">
      &copy; 2013 Akop Karapetyan | <a href="https://github.com/pokebyte/grr">grr</a> is Open and Free Software licensed under GPL
    </div>
  </body>
</html>
