<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="content/css/grr.css" type="text/css" rel="stylesheet"/>
    <title><?= l("Import Subscriptions") ?></title>
  </head>
  <body>
    <div id="header">
      <h1>grr <span class="grr">&gt;:(</span></h1>
    </div>
    <div id="content">
<?
    if ($this->errorMessage)
    {
?>
      <div class="error"><?= h($this->errorMessage) ?></div>
<?
    }
?>
      <span class="directions"><?= l("Select an OPML file to import your existing feeds:") ?></span>
      <form enctype="multipart/form-data" action="<?= $this->url("import") ?>" method="POST">
        <input type="hidden" name="MAX_FILE_SIZE" value="<?= MAX_IMPORT_FILE_SIZE_KB * 1024 ?>" />
        <input name="feed" type="file" />
        <input type="submit" value="<?= l("Upload") ?>" />
      </form>
    </div>
    <div id="footer">
      &copy; 2013 Akop Karapetyan | <a href="https://github.com/melllvar/grr">grr</a> is Open and Free Software licensed under GPL
    </div>
  </body>
</html>
