<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="content/css/reader.css" type="text/css" rel="stylesheet"/>
    <script src="content/js/sprintf.min.js" type="text/javascript"></script>
    <script src="content/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="content/js/jquery.scrollintoview.min.js" type="text/javascript"></script>
    <script src="content/js/jquery.hotkeys.js" type="text/javascript"></script>
    <script src="content/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="content/js/spin.min.js" type="text/javascript"></script>
    <script src="content/js/locales/reader-default.js" type="text/javascript"></script>
<?
  if (!$this->isInDefaultLocale())
  {
    // Include client-side localization map
?>
    <script src="content/js/locales/reader-<?= $this->getCurrentLocale() ?>.js" type="text/javascript"></script>
<?
  }
?>
    <script src="content/js/reader.js" type="text/javascript"></script>
    <title>&gt;:(</title>
  </head>
  <body>
    <div id="toast"><span></span></div>
    <div id="header">
      <h1>grr <span class="grr">&gt;:(</span></h1>
      <div class="navbar">
        <span class="logout">Signed in as <span class="username"><?= h($this->user->username) ?></span> 
        <a href="<?= $this->url("login", array("logout" => "true")) ?>">Sign out</a></span>
        <a class="import-subs" href="<?= $this->url("import") ?>">Import subscriptions</a>
<?
    if ($this->user->isAdmin())
    {
?>
        <a class="admin" href="<?= $this->url("admin") ?>">Admin</a>
<?
    }
?>
      </div>
    </div>
    <div id="navbar">
      <div class="right-aligned">
        <button class="select-article up" title="<?= l("Previous Article") ?>"></button><button class="select-article down" title="<?= l("Next Article") ?>"></button>
      </div>
      <button class="navigate"><?= l("Navigate") ?></button>
      <button class="refresh" title="<?= l("Refresh") ?>">&nbsp;</button>
      <button class="filter dropdown"><?= l("All Items") ?></button>
      <button class="mark-all-as-read"><?= l("Mark all as read") ?></button>
    </div>
    <div id="reader">
      <div class="feeds-container">
        <button class="subscribe"><?= l("Subscribe") ?></button>
        <ul id="feeds"></ul>
      </div>
      <div class="entries-container">
        <div class="entries-header"></div>
        <div id="entries"></div>
      </div>
    </div>
    <div id="floating-nav"></div>
    <ul id="menu-root" class="menu">
      <li class="menu-new-folder"><?= l("New folder...") ?></li>
      <li class="menu-sub"><?= l("Subscribe...") ?></li>
    </ul>
    <ul id="menu-filter" class="menu" data-dropdown="button.filter">
      <li class="menu-all-items group-filter" data-value="all"><?= l("All items") ?></li>
      <li class="menu-new-items group-filter" data-value="new"><?= l("New items") ?></li>
      <li class="menu-starred-items group-filter" data-value="star"><?= l("Starred") ?></li>
    </ul>
    <ul id="menu-feed" class="menu">
      <li class="menu-rename-sub"><?= l("Rename subscription...") ?></li>
      <li class="menu-unsub"><?= l("Unsubscribe") ?></li>
    </ul>
    <ul id="menu-folder" class="menu">
      <li class="menu-new-folder"><?= l("New folder...") ?></li>
      <li class="menu-sub"><?= l("Subscribe...") ?></li>
      <div class="divider"></div>
      <li class="menu-rename-sub"><?= l("Rename subscription...") ?></li>
      <li class="menu-unsub"><?= l("Unsubscribe from all") ?></li>
    </ul>
    <div class="shortcuts">
      <table>
        <tr>
          <th colspan="2">Navigation</th>
          <th colspan="2">Application</th>
        </tr>
        <tr>
          <td class="sh-keys">j/k:</td>
          <td class="sh-action">next/previous article</td>
          <td class="sh-keys">r:</td>
          <td class="sh-action">refresh</td>
        </tr>
        <tr>
          <td class="sh-keys">n/p:</td>
          <td class="sh-action">scan next/previous article</td>
          <td class="sh-keys">u:</td>
          <td class="sh-action">toggle navigation mode</td>
        </tr>
        <tr>
          <td class="sh-keys">Shift+n/p:</td>
          <td class="sh-action">scan next/previous subscription</td>
          <td class="sh-keys">a:</td>
          <td class="sh-action">add a subscription</td>
        </tr>
        <tr>
          <td class="sh-keys">Shift+o:</td>
          <td class="sh-action">open subscription or folder</td>
        </tr>
        <tr>
          <td class="sh-keys">g then a:</td>
          <td class="sh-action">open Subscriptions</td>
        </tr>
        <tr>
          <th colspan="2">Articles</th>
        </tr>
        <tr>
          <td class="sh-keys">m:</td>
          <td class="sh-action">mark as read/unread</td>
        </tr>
        <tr>
          <td class="sh-keys">s:</td>
          <td class="sh-action">star article</td>
        </tr>
        <tr>
          <td class="sh-keys">t:</td>
          <td class="sh-action">tag article</td>
        </tr>
        <tr>
          <td class="sh-keys">l:</td>
          <td class="sh-action">like article</td>
        </tr>
        <tr>
          <td class="sh-keys">v:</td>
          <td class="sh-action">open link</td>
        </tr>
        <tr>
          <td class="sh-keys">o:</td>
          <td class="sh-action">open article</td>
        </tr>
        <tr>
          <td class="sh-keys">shift+a:</td>
          <td class="sh-action">mark all as read</td>
        </tr>
      </table>
    </div>
  </body>
</html>
