<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="content/css/reader.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="content/favicon.png" />
    <script src="content/js/sprintf.min.js" type="text/javascript"></script>
    <script src="content/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="content/js/jquery.scrollintoview.min.js" type="text/javascript"></script>
    <script src="content/js/jquery.hotkeys.js" type="text/javascript"></script>
    <script src="content/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="content/js/spin.min.js" type="text/javascript"></script>
    <script src="content/js/locales/reader-default.js" type="text/javascript"></script>
<?
  if (!$this->isInDefaultLocale())
  {
    // Include client-side localization map
?>
    <script src="content/js/locales/reader-<?= $this->getCurrentLocale() ?>.js" type="text/javascript"></script>
<?
  }
?>
    <script src="content/js/reader.js" type="text/javascript"></script>
    <title>&gt;:(</title>
  </head>
  <body>
    <div id="toast"><span></span></div>
    <div id="header">
      <img src="content/logo.png" class="houmu-rogo" />
      <div class="navbar">
        <span class="logout"><?= l("Signed in as %s", $this->user->username) ?>
        <a href="<?= $this->url("login", array("logout" => "true")) ?>"><?= l("Sign out") ?></a></span>
        <a class="import-subs" href="<?= $this->url("import") ?>"><?= l("Import subscriptions") ?></a>
<?
    if ($this->user->isAdmin())
    {
?>
        <a class="admin" href="<?= $this->url("admin") ?>"><?= l("Administer") ?></a>
<?
    }
?>
      </div>
    </div>
    <div id="navbar">
      <div class="right-aligned">
        <button class="select-article up" title="<?= l("Previous Article") ?>"></button><button class="select-article down" title="<?= l("Next Article") ?>"></button>
      </div>
      <button class="navigate"><?= l("Navigate") ?></button>
      <button class="refresh" title="<?= l("Refresh") ?>">&nbsp;</button>
      <button class="filter dropdown"><?= l("All Items") ?></button>
      <button class="mark-all-as-read"><?= l("Mark all as read") ?></button>
    </div>
    <div id="reader">
      <div class="feeds-container">
        <button class="subscribe"><?= l("Subscribe") ?></button>
        <ul id="feeds"></ul>
      </div>
      <div class="entries-container">
        <div class="entries-header"></div>
        <div id="entries"></div>
      </div>
    </div>
    <div id="floating-nav"></div>
  </body>
</html>
