<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="content/css/grr.css" type="text/css" rel="stylesheet"/>
    <title><?= l("Create New Account") ?></title>
  </head>
  <body>
    <div id="header">
      <h1>grr <span class="grr">&gt;:(</span></h1>
    </div>
    <div id="content" class="login">
<?
    if ($this->errorMessage)
    {
?>
      <div class="error"><?= h($this->errorMessage) ?></div>
<?
    }

    if ($this->canCreateAccounts)
    {
?>
      <form action="<?= $this->url("newUser") ?>" method="post">
        <input type="hidden" name="newUserAuthMode" value="<?= $this->authMode ?>" />
<?
      if ($this->welcomeToken)
      {
?>
        <input type="hidden" name="welcomeToken" value="<?= h($this->welcomeToken) ?>" />
<?
      }

      if ($this->authMode == "openId")
      {
?>
        <input type="hidden" name="openId" value="<?= h($this->openIdIdentity) ?>" />
        <input type="hidden" name="v" value="<?= h($this->openIdHash) ?>" />
<?
      }

      if ($this->newAdminMode)
      {
?>
        <span class="directions"><?= l("Please check the configuration file ('config.php') on the server. Copy the value of 'ADMIN_SECRET' (without quotes) and paste it in the field below:") ?></span>
        <input type="text" name="newAdminToken" />
<?
      }
?>
        <span class="directions"><?= l("Username:") ?></span>
        <input type="text" name="username" value="<?= h($this->username) ?>" />
        <span class="directions"><?= l("Email Address:") ?></span>
        <input type="text" name="emailAddress" value="<?= h($this->emailAddress) ?>" />
<?
      if ($this->authMode == "local")
      {
?>
        <span class="directions"><?= l("Password:") ?></span>
        <input type="password" name="password" />
        <span class="directions"><?= l("Confirm Password:") ?></span>
        <input type="password" name="confirmPassword" />
<?
      }
?>
        <input type="submit" value="<?= l("Create account") ?>" />
      </form>
<?
    }
    else
    {
?>
        <span class="directions"><a href="<?= $this->url("login") ?>"><?= l("Log In") ?></a></span>
<?
    }
?>
    </div>
    <div id="footer">
      &copy; 2013 Akop Karapetyan | <a href="https://github.com/melllvar/grr">grr</a> is Open and Free Software licensed under GPL
    </div>
  </body>
</html>